@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
    padding: 0 10%;
}
.header{
    color: #3A3A3A;
    margin-bottom: 100px;
}
.logo-nav-bar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin-bottom: 50px;
}
.logo h2{
    font-size: 25px;
    font-weight: 700;
}
.nav-bar{
    display: flex;
}
.bar{
    margin-left: 20px;
    font-size: 25px;
}
.nav-bar nav ul{
    list-style: none;
    display: flex;
}
.nav-bar nav ul li{
    margin-left: 20px;
}
.nav-bar nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 700;
}

/* header-info */
.header-info{
    display: flex;
    align-items: center;
}
.header-description h1{
    font-size: 50px;
    font-weight: 700;
}
.header-description p{
    margin-bottom: 20px;
}
.btn{
    border: none;
    background-color: #E02C6D;
    padding: 10px 20px;
    color: #fff;
    border-radius: 25px;
    font-weight: 700;
    font-size: 16px;
}
/* header finish */
/* market places */
.market-place{
    margin-bottom: 100px;
}
.market-place hr{
    color: #3A3A3A;
}
.market-places{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* market place finish */
/* popular collection started */
.title{
    font-size: 30px;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 35px;
}
.popular-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}
.collection{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.collection-info h3{
    margin: 15px 0 10px;
    font-size: 25px;
    font-weight: 500;
}
.collection-info p{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.filled, .half-filled{
    color: #FB8200;
    font-size: 12px;
}
.collection-rating span{
    color:#787885;
    font-weight: 700;
    margin-left: 8px;
    font-size: 14px;
}
.collection-details{
    color: #787885;
    font-weight: 700;
    margin-top: 10px;
}
.see-more{
    text-align: right;
}
.btn2{
    margin-top: 30px;
    background-color: #fff;
    color: #E02C6D;
}

/* popular collection finish */










